 /* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* font style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
body{

    margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
main > section{
    margin-top: 120px;
}
.text-primary{
    color: rgba(233, 90, 8, 1);
}
.section-tittle{
    font-size: 3.125rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}
.section-desceiption{
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.display-flex{
    display: flex;
}
.bg-color{
    background-color: rgb(245,248,255);
}
.button-primary{
   background-color: #E95A08;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 25px 50px;
    color: #FFFFFF; 
}
/* navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 30px 150px;
}

.nav-items{
    list-style: none;
    text-decoration: none;
}
.nav-item{
    list-style: none;
    margin-right: 45px;
}
.home{
  font-weight: 700;  
  color: rgba(0, 0, 0, 1);
}
.shop{
    color:rgba(0, 0, 0, 0.5);;
}
.cart{
   font-weight: 400;  
  color: rgba(0, 0, 0, 1); 
}
/* this is banner section */

 .banner-section{
    margin: 0 auto;
 }
 .hero-text{
    text-align: left;
    width: 50%;
 }
 .banner{
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 30px 150px;
 }
 .banner-title{
    font-size: 4.0625rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
 }
 
/* this is plant section  */
.plant{
    align-items: center;
    max-width: 1140px;
    margin: 30px 150px;
}
.plant-tittle{
    margin: 0;
}
.plant-description{
    margin-top: 15px;
    margin-bottom: 50px;
}
.text-section{
    text-align: center;
}
.card{
    width: 270px;
    text-align: center;
}
.card-title{
     font-size: 1.375rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}
.card-description{
    font-size: 1.375rem;
    font-weight: 700;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
}
.card button{
    width: 100%;
}
/* this is flower section  */
.flower-lover{
    gap: 80px;
    align-items: center;
    max-width: 1140px;
    margin: 210px 150px;
}
.flower-lover-text{
    width: 50%;
}
.flower-lover-text{
    margin: 35px auto;
}
.flower-list{
    margin-top: 20px;
}
@keyframes spinBadge {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.badge-img {
  position: absolute;
  top: 2000px;
  right: 750px;
  width: 250px;      
  height: auto;
  z-index: 10;

  filter: drop-shadow(-4px 10px 2px rgba(0, 0, 0, 0.25));
  animation: spinBadge 3s linear infinite;
}
/* this is latest deal section  */
.latest-deal-sec{
    max-width: 1140px;
    margin: 0 auto;
}
.latest-deal-title{
    margin: 0;   
}
.latest-deal-description{
  margin-bottom: 100px;
  
  padding: 16px 150px;
}

.deal-img-title{
  font-size: 1.25rem;
  width: 700;
  color: #FFFFFF;
}
.deal-img-description{
  font-size: 1rem;
  width: 600;
  color: #FFFFFF;
  text-decoration: underline;
  max-width: 880px;
}


.zabo {
  position: relative;
  text-align: center;
  color: darkgray;
 }
.zabo img{
  border-radius: 15px;
  filter: brightness(60%);
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
 
  transform: translate(-50%, -50%);
}

.deal-img-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  grid-template-rows: auto auto;
}
.deal-img-container img{
  width: 100%;
  height: 100%;
}
.deal-img-left{
  display: grid;
  gap: 25px;
}
.latest-deal-text{
  text-align: center;
  margin-bottom: 100px;
}


/* this is join section */

.join{ 
    align-items: center;
     
       margin: 0 auto;
        text-align: center;
         
         padding: 200px 300px;
          background-image: url('../B12A02-Responsive-Flowers/assets/news-letter-bg.png');
           background-size: cover;
           background-repeat: no-repeat;
           background-position: center center;
            
            min-height: 100%;
           margin-top: 150px; 
           max-width: 1300px;
        }
.join-title{
    color: #FFFFFF;
}
.join-grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 20px;
  
}
.join-grid input[type="email"] {
  padding: 15px 540px 15px 20px;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  
}



/* this is footer section  */
.footer-bg-color{
    background-color: rgb(250,252,255);
}
.footer-container{
    display: grid;
    grid-template-columns: 1fr .5fr .5fr 1fr;
    padding: 50px 150px;
    column-gap: 40px;
    row-gap: 30px;
}
.footer-intro {
  text-align: left;
}
.footer-logo {
  /* height: 50px; */
  margin-bottom: 10px;
}
.footer-description {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.footer-links-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.footer-links {
  list-style: none;
  padding: 0;
}
.footer-links li {
  margin-bottom: 30px;
}
.footer-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;}
.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 2rem;
}
















/* resposive for small device */
@media screen and (max-width:576px) {
    
    .hide, .badge-img{ 
        display: none;
    }
    .section-tittle, 
    .banner-title{
    font-size: 1.5rem;}
    .section-desceiption{
    font-size: 0.875rem;}
    .join-title{
        font-size: 1rem;
    }

    .navbar,
    .banner,
    .flower-lover, 
    .latest-deal-sec, 
    
     .plant{
        
    margin: 65px 15px;
    align-items: center;
    }
    .nav-item{
    margin-right: 1px;
    }
    /* banner sectiom */
    .banner{
        flex-direction: column-reverse;
    }
     .hero-text{
        width: 100%;
     }
     .hero-text-title{
        width: 50%;
        
     }
    .banner-image{
    width: 100%;}
    .card{
        width: 171px;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
        row-gap: 30px;
        column-gap: 10px;
    }
    /* flower lover section  */
    .flower-lover{
        flex-direction: column;
        gap: 20px;
    }
    .flower-lover-text{
    width: 100%;
    text-align: left;
}

/* best deal section  */
.deal-img-title{
  font-size: 1.25rem;
}
.deal-img-description{
  font-size: 1rem;}
.deal-img-container{
  display: flex;
  flex-direction: column;
}
.latest-deal-description{
  padding: 16px 25px;
  margin-bottom: 50px;
}
.centered p{
  margin: 0;
}
/* join section  */
.join{
    padding: 110px 36px 64px; 
}

.join-grid input[type="email"] {
  padding: 15px 114px 15px 20px;
}
.join-grid {
  width: 200px;
  
}
.join-grid input{
    width: 60px;
}
  .join-grid button {
    width: 100px;
    padding: 0;
  }
.join-title{
    margin: 0 auto;
    width: 200px;
}
.join-grid input[type="email"]{
  padding: 15px;
  width: 180px;
}
.section-tittle {
    font-size: rem;}
/* footer section  */
.footer-container{
    grid-template-columns: repeat(1,1fr);
    justify-items: start;
    padding:100px 20px 50px 20px; 
    row-gap: 5px;

}
   
 }