/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
main {
  height: 100vh;
} */


/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
body{
    max-width: 1440px;
    margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
main > section{
    margin-top: 120px;
}
.text-primary{
    color: rgba(233, 90, 8, 1);
}
.section-tittle{
    font-size: 3.125rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}
.section-desceiption{
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.display-flex{
    display: flex;
}
.bg-color{
    background-color: rgb(245,248,255);
}
.button-primary{
   background-color: #E95A08;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 25px 50px;
    color: #FFFFFF; 
}
/* navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 30px 150px;
}
.nav-right-part{
    /* max-width: 415px; */
    /* justify-content:space-between ; */
}
.nav-items{
    list-style: none;
    text-decoration: none;
}
.nav-item{
    list-style: none;
    margin-right: 45px;
}
.home{
  font-weight: 700;  
  color: rgba(0, 0, 0, 1);
}
.shop{
    color:rgba(0, 0, 0, 0.5);;
}
.cart{
   font-weight: 300;  
  color: rgba(0, 0, 0, 1); 
}
/* this is banner section */
/* .text-section, .image-section{
    width: 50%;
} */
 .banner-section{
    margin: 0 auto;
 }
 .hero-text{
    text-align: left;
    width: 50%;
 }
 .banner{
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 30px 150px;
 }
 .banner-title{
    font-size: 4.0625rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
 }
 /* .banner-image{
    width: 100%;
} */
/* this is plant section  */
.plant{
    align-items: center;
    max-width: 1140px;
    margin: 30px 150px;
}
.plant-tittle{
    margin: 0;
}
.plant-description{
    margin-top: 15px;
    margin-bottom: 50px;
}
.text-section{
    text-align: center;
}
.card{
    width: 270px;
    text-align: center;
}
.card-title{
     font-size: 1.375rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}
.card-description{
    font-size: 1.375rem;
    font-weight: 700;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
}
.card button{
    width: 100%;
}
/* this is flower section  */
.flower-lover{
    gap: 60px;
    align-items: center;
    max-width: 1140px;
    margin: 210px 150px;
}
.flower-lover-text{
    width: 50%;
}
.flower-lover-text{
    margin: 35px auto;
}
.flower-list{
    margin-top: 20px;
}
/* this is join section */

.join{ 
    align-items: center;
     /* max-width: 1140px;
      */ 
      /* margin: 210px 150px; 
      */
       margin: 0 auto;
        text-align: center;
         padding: 200px 300px;
          background-image: url('../B12A02-Responsive-Flowers/assets/news-letter-bg.png');
           background-size: cover; background-position: center 
        }
.join-title{
    color: #FFFFFF;
}
.join-grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 20px;
  /* gap: 10px; */
}
.join-grid input[type="email"] {
  padding: 15px 540px 15px 20px;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  /* width: 630px;
  height: 50px; */
  /* border-radius: 5px; */
}



/* this is footer section  */
.footer-bg-color{
    background-color: rgb(250,252,255);
}
.footer-container{
    display: grid;
    grid-template-columns: 1fr .5fr .5fr 1fr;
    padding: 50px 150px;
    column-gap: 40px;
    row-gap: 30px;
}
.footer-intro {
  text-align: left;
}
.footer-logo {
  height: 50px;
  margin-bottom: 10px;
}
.footer-description {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.footer-links-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.footer-links {
  list-style: none;
  padding: 0;
}
.footer-links li {
  margin-bottom: 30px;
}
.footer-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;}
.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 2rem;
}
















/* resposive for small device */
@media screen and (max-width:576px) {
    /* navbar style */
    .hide{ 
        display: none;
    }
    .navbar,
    .banner,
    .flower-lover,
    
     .plant{
        /* max-width: 360px; */
    margin: 65px 15px;
    align-items: center;
    }
    .nav-item{
    margin-right: 1px;
    }
    /* banner sectiom */
    .banner{
        flex-direction: column-reverse;
    }
     .hero-text{
        width: 100%;
     }
     .hero-text-title{
        width: 50%;
        /* display: flex;
        flex-wrap: wrap; */
     }
    .banner-image{
    width: 100%;}
    .card{
        width: 171px;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
        row-gap: 30px;
        column-gap: 10px;
    }
    /* flower lover section  */
    .flower-lover{
        flex-direction: column;
    }
    .flower-lover-text{
    width: 100%;
    text-align: left;
}
/* join section  */
.join{
    padding: 110px 36px 64px;
}
.join-grid input[type="email"] {
  padding: 15px 114px 15px 20px;
}
.join-grid {
  width: 200px;
  /* grid-template-columns: 1fr; */
}
.join-grid input{
    width: 60px;
}
  .join-grid button {
    width: 150px;
    padding: 0;
  }
.join-title{
    margin: 0 auto;
    width: 200px;
}
.section-tittle {
    font-size: rem;}
/* footer section  */
.footer-container{
    grid-template-columns: repeat(1,1fr);
    justify-items: start;
    padding:100px 20px 50px 20px; 
    row-gap: 5px;

}
.footer-bg-color {
    
}
}